/* *, *::before, *::after {
	box-sizing: border-box;
} */
@import "_nullstyle.scss";
/* Global */
$color-main: #2f3640;
$color-lite: #7f8fa6;
$color-black: black;
%tplabout {
	font-style: italic;
	font-size: 19px;
	font-family: "Cabin", sans-serif;
}
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap");
$font-text: "Cabin", sans-serif;
$font-header: "Roboto", sans-serif;

body {
	margin: 0 auto;
	text-align: center;
	background: #fff;
	font-size: 16px;
	line-height: 1.7;
	min-width: 930px;
	font-family: "Roboto", sans-serif;
}
section {
	padding: 108px 0;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}
/* Splash */
.splash {
	height: 100vh;
	position: relative;
	background: url(https://gagadget.com/media/post_big/DEATH_STRANDING_20191109120244.jpg) center/cover;
	font-size: 30px;
	&-inner {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color-black;
	}
	& i {
		color: white;
		font-size: 70px;
		background: $color-main;
		width: 120px;
		height: 60px;
		line-height: 60px;
		border-radius: 25px;
	}
	.page-title {
		font-size: 60px;
		margin: 30px 0 0 0;
		font-weight: 800;
	}
	.page-title::after {
		content: "";
		position: absolute;
		bottom: 60px;
		left: 50%;
		width: 200px;
		height: 7px;
		transform: translateX(-50%);
		background: $color-main;
	}
	.page-subtitle {
		font-size: 26px;
		margin: 20px 0 0 0;
		font-weight: 700;
	}
}
/* Intro */
.intro {
	p {
		width: 70%;
		margin: 0 auto;
		padding: 50px 0;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		@extend %tplabout;
	}
}
/* About */
.about {
	background: $color-lite;

	.section-title {
		position: relative;
		font-size: 24px;
		margin: 0 0 45px 0;
		font-weight: bold;
	}
	.section-title::after {
		content: "";
		position: absolute;
		bottom: -25px;
		left: 50%;
		width: 100px;
		height: 7px;
		transform: translateX(-50%);
		background: $color-main;
	}
	p {
		@extend %tplabout;
		margin: 20px 0;
		width: 70%;
		margin: 0 auto;
	}
}
/* Skills */
[class^="skill-"] {
	position: relative;
}
.skills {
	max-width: 930px;
	min-width: 930px;
	margin: 0 auto;
}
[class^="skill-image_"] {
	width: 50%;
	height: 250px;
	z-index: 2;
	position: absolute;
}
[class^="skill-image_"]:hover {
	transform: scale(1.2, 1.2);
	z-index: 3;
}
.skill-image_one {
	background: url(https://3.bp.blogspot.com/-g93SEwB6qzQ/XPE36pD2vGI/AAAAAAAAGqk/o7pxF1DWjekYIM2sjM8Mu-jCkB36igkFwCKgBGAs/w0/death-stranding-uhdpaper.com-4K-9.jpg)
		0 0 / contain no-repeat;
}
.skill-image_two {
	background: url(https://wallpapercave.com/wp/wp4397505.png) 0 0 / contain no-repeat;
	right: 0;
}
.skill-image_three {
	background: url(https://cdn2.unrealengine.com/ds-keyart-1920x1080-nologo-1920x1080-363363968.jpg) 0 0 / contain
		no-repeat;
}
.skill-image_three:hover {
	transform: scale(1.2, 1.2);
	z-index: 3;
}
.skill-right {
	.skill-image {
		right: 0;
	}
	.skill-description {
		padding: 35px 52% 36px 0;
		text-align: right;
	}
}
.skill-left {
	.skill-description {
		padding: 35px 0 36px 52%;
		text-align: left;
		z-index: 1;
	}
}
.container-title {
	font-size: 25px;
	margin: 0 0 60px 0;
	font-weight: bold;
	position: relative;
}
.container-title::after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	width: 100px;
	height: 7px;
	transform: translateX(-50%);
	background: $color-main;
}
.skill-title {
	font-size: 18px;
	font-weight: bold;
}
.skill-text {
	font-family: $font-text;
}

/* Glallery */
.gallery {
	h2 {
		font-size: 25px;
		margin: 0 0 60px 0;
		font-weight: bold;
		position: relative;
	}
	h2::after {
		content: "";
		position: absolute;
		bottom: -25px;
		left: 50%;
		width: 100px;
		height: 7px;
		transform: translateX(-50%);
		background: $color-main;
	}
}
.gallery-img {
	position: relative;
	height: 350px;
}
.gallery-img {
	img {
		float: left;
		width: 33.333%;
		height: 350px;
		object-fit: cover;
	}
}
.content-button {
	margin: 50px 0 100px 0;
	height: 50px;
	width: 110px;
	background: $color-main;
	color: white;
	font-family: $font-text;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.gallery-img button{
	margin: 0 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.gallery-img div:nth-child(2):hover {
	button {
		display: block;
	}
	img{
		opacity: 0.8;
	}
}
.gallery-button {
}
.content-button {
}



/* Contact */
%tplinput {
	height: 30px;
	width: 230px;
	border: 1px solid #000;
	font-size: 14px;
	font-family: "Cabin", sans-serif;
	padding: 0 0 0 5px;
	margin: 5px 0;
}
.contact {
	background: $color-main;
	height: 700px;
	h2 {
		color: #fff;
		padding: 70px 0 60px 0;
		font-size: 25px;
		font-weight: bold;
		position: relative;
	}
	h2::after {
		content: "";
		position: absolute;
		bottom: 29px;
		left: 50%;
		width: 100px;
		height: 7px;
		transform: translateX(-50%);
		background: #fff;
	}
	.content-button {
		background: #7f8fa6;
		width: 90px;
	}
}
.name {
	@extend %tplinput;
}
.email {
	@extend %tplinput;
}
.subject {
	@extend %tplinput;
}
.textarea {
	@extend %tplinput;
	height: 200px;
}
.page-footer {
	background: rgb(26, 31, 39);
	.container {
		p {
			font-size: 13px;
			color: #fff;
		}
	}
}
