@charset "UTF-8";
/* *, *::before, *::after {
	box-sizing: border-box;
} */
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Global */
.intro p, .about p {
  font-style: italic;
  font-size: 19px;
  font-family: "Cabin", sans-serif;
}

/* Fonts */
body {
  margin: 0;
  text-align: center;
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  min-width: 600px;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 108px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background: url(https://gagadget.com/media/post_big/DEATH_STRANDING_20191109120244.jpg) center/cover;
  font-size: 30px;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.splash i {
  color: white;
  font-size: 70px;
  background: #2f3640;
  width: 120px;
  height: 60px;
  line-height: 60px;
  border-radius: 25px;
}

.splash .page-title {
  font-size: 60px;
  margin: 30px 0 0 0;
  font-weight: 800;
}

.splash .page-title::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 200px;
  height: 7px;
  transform: translateX(-50%);
  background: #2f3640;
}

.splash .page-subtitle {
  font-size: 26px;
  margin: 20px 0 0 0;
  font-weight: 700;
}

/* Intro */
.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* About */
.about {
  background: #7f8fa6;
}

.about .section-title {
  position: relative;
  font-size: 24px;
  margin: 0 0 45px 0;
  font-weight: bold;
}

.about .section-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 100px;
  height: 7px;
  transform: translateX(-50%);
  background: #2f3640;
}

.about p {
  margin: 20px 0;
  width: 70%;
  margin: 0 auto;
}

/* Skills */
[class^="skill-"] {
  position: relative;
}

.skills .container {
  max-width: 900px;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.skill-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 35px 52% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 35px 0 36px 52%;
  text-align: left;
}

.container-title {
  font-size: 25px;
  margin: 0 0 60px 0;
  font-weight: bold;
  position: relative;
}

.container-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 100px;
  height: 7px;
  transform: translateX(-50%);
  background: #2f3640;
}

.skill-title {
  font-size: 18px;
  font-weight: bold;
}

.skill-text {
  font-family: "Cabin", sans-serif;
}

.skill-image img {
  width: 100%;
  height: 100%;
}

.skill-image {
  position: absolute;
}

.skill-image img:hover {
  z-index: 6;
  transition: all 1s;
  transform: scale(1.2, 1.2);
}
