@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.content {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #000;
}

.content .block1 {
  width: 50%;
  height: 160px;
  background: url(https://3.bp.blogspot.com/-g93SEwB6qzQ/XPE36pD2vGI/AAAAAAAAGqk/o7pxF1DWjekYIM2sjM8Mu-jCkB36igkFwCKgBGAs/w0/death-stranding-uhdpaper.com-4K-9.jpg) 0 0/contain no-repeat;
  text-align: center;
  position: absolute;
  z-index: 6;
  border: 1px solid #000;
}

.content .block1:hover {
  transform: scale(2, 2);
}

.content .block1text {
  position: relative;
  padding: 35px 0 36px 52%;
  z-index: 5;
}

.content .block1text:hover {
  color: chocolate;
}

.content .block2 {
  width: 100%;
  height: 100px;
  background: grey;
  text-align: center;
}

.content .block3 {
  width: 100%;
  height: 100px;
  background: #0c2c5c;
  text-align: center;
}
