@import "_nullstyle.scss";
.content {
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #000;

	.block1{
		width: 50%;
		height: 160px;
		background: url(https://3.bp.blogspot.com/-g93SEwB6qzQ/XPE36pD2vGI/AAAAAAAAGqk/o7pxF1DWjekYIM2sjM8Mu-jCkB36igkFwCKgBGAs/w0/death-stranding-uhdpaper.com-4K-9.jpg) 0 0/contain no-repeat;;
		text-align: center;
		position: absolute;
		z-index: 6;
		border: 1px solid #000;

	}
	.block1:hover{
		transform: scale(2, 2);
	}
	.block1text {
		position: relative;
		padding: 35px 0 36px 52%;
		z-index: 5;
		
	}
	.block1text:hover{
		color: chocolate;
	}
	.block2 {
		width: 100%;
		height: 100px;
		background: grey;
		text-align: center;

	}
	.block3 {
		width: 100%;
		height: 100px;
		background: rgb(12, 44, 92);
		text-align: center;
	}
}